
// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
  .newsletter .form-group {
padding-left: 0;
  }
  .newsletter .form-control{
    width: 100%;
  }
  .newsletter .wrapper:after{
    right:7%;
  }
}
// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {
  .newsletter .form-group {
    padding-left: 0;
  }
  .newsletter .form-control{
    width: 100%;
  }
  .newsletter .wrapper:after{
    right:7%;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {
  .newsletter .form-group {
    padding-left: 0;
  }
  .newsletter .form-control{
    width: 100%;
  }
  .newsletter .wrapper:after{
    right:7%;
  }
}



// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) {

}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

}