.hidden {
  display: none;
}
/* ==========================================================================
  > common card style
  ========================================================================== */
.card{
  border:none;
}
.card-body{
  padding: 30px 0px 130px 0px;
  h3{
    padding:27px 0px 38px 0px;
  }
}


/* ==========================================================================
  > start header
  ========================================================================== */
.header{
  padding:30px 0px 30px 0px;
}
.navbar ul>li{
  padding: 0px 100px 0px 0px;
  &:last-child{
    padding: 0px 0px 0px 0px;
  }
}
/* ==========================================================================
  >  start header-image section
  ========================================================================== */
.header-image{
  width: 100%;
  height: auto;
  padding: 90px 0px 0px 0px;
  img{
    width: 100%;
    height: auto;
  }
}

/* ==========================================================================
  > start perfect-weekend section
  ========================================================================== */
.perfect-weekend{
.perfect-weekend-body{
  padding: 78px 78px 0px 78px ;
  text-align: justify;

  h3{
    padding: 29px 0px 45px 0px;
  }

  .form-group{
    padding: 78px 0px 78px 0px;
  }
  .form-control{
    border:1px solid white;
  }
}
}

/* ==========================================================================
  > start music-festival
  ========================================================================== */
.music-festival{

}

/* ==========================================================================
  > start newsletter section
  ========================================================================== */
.newsletter{
  background-color: #f0f0f0;
  padding:70px 0px 70px 0px;
  h3{
    padding:0px 0px 74px 0px;
  }
  .form-control{
    border-top:1px solid #f0f0f0;
    border-right:1px solid #f0f0f0;
    border-left:1px solid #f0f0f0;
    border-bottom:1px solid $black;
    background-color: #f0f0f0;
    width: 67%;
  }
  .wrapper:after {
    font-family: 'FontAwesome';
    position: absolute;
    right: 27%;
    content: "\f003";
    bottom: 24px;
    font-size: 18px;
    color: rgb(17, 17, 17);
    cursor: pointer;
  }
  .form-group {
    padding-left: 24%;
  }
}

/* ==========================================================================
  >start top-song section
  ========================================================================== */
.top-song{
  padding:100px 0px 100px 0px;
 .load-more-btn{
   @include btn($white, $black, 0px, $playfair-display, $regular, auto, #ff3251, $dark-blue, $white, #FFEF44);
   margin: 32px auto 0 auto;
   padding: 15px 30px 15px 30px;
   font-size: 20px;
   font-family: $playfair-display;
   font-weight: $regular;
   display: inline-block;
   border: 1px solid rgb(98, 98, 98);
  color: rgb(98, 98, 98);
 }
}

.top-song .load-more-btn:hover, .top-song .load-more-btn:focus{
  background-color: $white;
  border: 1px solid rgb(98, 98, 98);
  color: rgb(98, 98, 98);
}

  /* ==========================================================================
    >  start footer
    ========================================================================== */
.footer{
  background-color: #f0f0f0;
  padding:41px 0px 41px 0px;
  a{
    font-size: 14px;
    font-family:$playfair-display;
    font-weight:$regular;
    color: rgb(0, 0, 0);
    text-decoration: none;
  }
  .fa{
    color:#626262;
  }
}